# ========================
# Node.js
# ========================
src/node_server/node_modules/
server/node_modules
server/.env
npm-debug.log
yarn-debug.log
yarn-error.log
node_modules/

# ========================
# C++ / CMake
# ========================
src/cpp_server/build/
src/cpp_server/CMakeFiles/
src/cpp_server/CMakeCache.txt
src/cpp_server/cmake_install.cmake
src/cpp_server/Makefile

# Object & binary files
*.o
*.obj
*.so
*.a
*.out
*.exe

# ========================
# Docker & Logs
# ========================
*.log

# ========================
# VSCode settings (optional)
# ========================
.vscode/
